[submodule "3rdParty/libzippp"]
	path = 3rdParty/libzippp
	url = https://github.com/ctabin/libzippp.git
	ignore = dirty
[submodule "3rdParty/libzip"]
	path = 3rdParty/libzip
	url = https://github.com/nih-at/libzip.git
	ignore = dirty
[submodule "3rdParty/zlib"]
	path = 3rdParty/zlib
	url = https://github.com/madler/zlib.git
	ignore = dirty
[submodule "3rdParty/ziplib"]
	path = 3rdParty/ziplib
	url = https://bitbucket.org/wbenny/ziplib.git
	ignore = dirty
[submodule "Spore-ModAPI"]
	path = Spore-ModAPI
	url = https://github.com/emd4600/Spore-ModAPI.git
	ignore = dirty
